<footer>
<div id="footer-main" class="footer-main">
     <div class="left">
        <span class="header">Get in touch</span>
        <span class="phno"><a href="">123456789</a></span>
        <span class="email"><a href = "mailto: abc@example.com" target="_blank">demo@gmail.com</a></span>
    </div>
    <!-- <div class="right">
        <span class="header">Connect</span>
        <span class="text"><a href="">Instagram</a></span>
        <span class="text"><a href="">LinkedIn</a></span>
    </div> -->
  
    
</div>
<div class="copyright">
    © 2020 ZINC DIGITAL
</div>

</footer>