<div id="contact" class="contact">
    <hr>
    <span class="contact-header"><b>Contact</b></span>
    <div class="contact-text">
        <div class="contact1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil incidunt repellat libero ipsum praesentium voluptatibus natus dolorum saepe similique veniam.</div>
        <div class="contact-spacer"></div>
        <div class="contact2"><span class="head-text"><b>General Enquiries</b> </span><br><br>
            <span class="header">Zinc Digital</span>
        <span class="phno">123456789</span>
        <span class="email">demo@gmail.com</span>
        <div class="email-btn">
            <a href = "mailto: abc@example.com" target="_blank">send email <fa-icon icon="arrowright"></fa-icon></a>
        </div>
        </div>
    </div>

</div>