<div id="contact" class="contact">
    <hr >
    <span class="contact-header"><b>Contact</b></span>
    <div class="contact-text">
        <div class="contact1">Contact us about your project. Whether it’s about workshops, projects or pure consulting jobs, 
            we’re always interested in new opportunities and collaborations.</div>
        <div class="contact-spacer"></div>
        <div class="contact2"><span class="head-text"><b>General Enquiries</b> </span><br><br>
            <span class="header">Zinc Digital</span>
        <span class="phno">7259672020</span>
        <span class="email">zincdigitalindia@gmail.com</span>
        <div class="email-btn">
            <a href = "mailto:zincdigitalindia@gmail.com" target="_blank">send email </a>
        </div>
        </div>
    </div>

</div>