<div class="services">
    <hr>
    <span class="services-header"><b>Services</b></span>
    <div class="service-list">
        <div class="service1"><h2>Marketing</h2>
            We develop brand platforms, marketing communication strategies and campaigns which are produced in close collaboration with trusted partners.</div>
        <div class="service-spacer"></div>
        <div class="service2"><h2>Digital Products</h2>We provide a holistic service delivering research, strategy, concept, design, prototyping, development, QA and launch.</div>
    </div>
</div>
