<div class="services">
    <hr>
    <span class="services-header"><b>Services</b></span>
    <div class="service-list">
        <div class="service1"><h2>Service1</h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, reprehenderit. Delectus deleniti maxime tenetur mollitia impedit, alias placeat sed doloribus, ipsum pariatur rem magnam, commodi nam in optio illo? Odit impedit quae in facilis ipsa rem adipisci. Ipsum harum animi architecto eum. Nihil, natus aliquid minima dicta unde quod! Modi!</div>
        <div class="service-spacer"></div>
        <div class="service2"><h2>Service2</h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia iste error repellat odit culpa ullam magnam harum vitae corporis? Praesentium necessitatibus similique asperiores nulla velit magnam doloremque et blanditiis? Earum assumenda explicabo saepe minus accusamus. Omnis laboriosam deleniti suscipit, impedit praesentium magni quisquam aliquam voluptatum veritatis, assumenda illo accusamus odit!</div>
    </div>
</div>
