<div class="purpose">
    <hr>
    <span class="purpose-header"><b>Purpose</b></span>
    <div class="purpose-text">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis vel rem suscipit ratione alias modi qui vero perspiciatis aspernatur quia, fugit cupiditate numquam expedita inventore reiciendis neque, libero reprehenderit! Eum quasi suscipit libero minima aperiam tempora eligendi accusantium placeat. Sit nesciunt assumenda ipsa et excepturi illum. A dignissimos expedita, eligendi modi, commodi cumque ipsum eveniet placeat quod saepe nulla ullam maxime exercitationem hic incidunt reprehenderit autem, nostrum corporis id. Laboriosam facere ad magni excepturi tenetur corporis quidem fugiat vel iste doloremque nulla, quaerat officiis molestias sint nam ipsum saepe porro hic et iure consequatur odit cupiditate magnam. Cumque, aliquid veniam.
    </div>
</div>